<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="      
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  http://www.springframework.org/schema/cache 
        http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
       	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd" >

	<context:component-scan base-package="com.aventyn.hms.dao"/>
	<context:component-scan base-package="com.aventyn.hms.controller"/>
	<mongo:repositories base-package="com.aventyn.hms.dao"/>
	
	<mvc:annotation-driven />

	<!-- Factory bean that creates the Mongo instance -->
	<bean id="mongo" class="org.springframework.data.mongodb.core.MongoFactoryBean">
		<property name="host" value="localhost" />
	</bean>
	<!-- MongoTemplate for connecting and quering the documents in the database -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongo" />
		<constructor-arg value="testdb" />
	</bean>
	
	<bean id="userDAO" class="com.aventyn.hms.dao.UserDAOImpl"></bean>
	
	<bean id="departmentDAO" class="com.aventyn.hms.dao.DepartmentDAOImpl"></bean>
	
	<bean id="categoryDAO" class="com.aventyn.hms.dao.CategoryDAOImpl"></bean>
	
	<bean id="patientDAO" class="com.aventyn.hms.dao.PatientDAOImpl"></bean>
	
	<bean id="doctorDAO" class="com.aventyn.hms.dao.DoctorDAOImpl"></bean>
	
	<bean id="appointmentDAO" class="com.aventyn.hms.dao.AppointmentDAOImpl"></bean>
	
	<bean id="serviceMasterDAO" class="com.aventyn.hms.dao.ServiceMasterDAOImpl"></bean>
	
	<bean id="billingDAO" class="com.aventyn.hms.dao.BillingDAOImpl"></bean>
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		 <!-- setting maximum upload size -->
		<property name="maxUploadSize" value="100000" />
	</bean>
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<property name="prefix"> 
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="/WEB-INF/messages" />
    </bean>
	
	<mvc:resources mapping="/resources/**" location="/resources/theme/" />

</beans>